<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label for="description">Description</label>
        <input type="text" name="description" id="description"><br>
        <label for="path">Emplacement</label>
        <input type="text" name="path" id="path"><br>
        <label for="fichier">Ajouter un Fichier</label>
        <input type="file" id="fichier" name="fichier" placeholder="Fichier"><br>
        <input type="submit">
    </form>
</body>
</html>