<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label for="fichier">Ajouter un Fichier</label>
        <input type="file" id="fichier" name="fichier" placeholder="Fichier">
        <input type="submit">Submit
    </form>
</body>
</html>